<div class="hero">
		<h2 class="top-title">ShareCafe</h2>
		<div class="logo">
			<p>あなたのお気に入りのカフェを共有しよう</p>
		</div>
		<div class="top-btn">
			<a class="topbtn_item" href="">新規登録</a> <a class="topbtn_item" href="">ログイン</a>
		</div>
	</div>