//タイトル中央
.container-login h1 {
    text-align: center;
    margin-top: 50px;
}
//ボタン中央
.form-btn {
    margin-top: 3rem;
    text-align: center;
}
//ボタン間隔あける
.btn-success ,.btn-danger{
    margin-bottom: 10px;
}

