
/*ナビゲーションバー */
.navbar {
    border-bottom: 5px solid rgba(0, 0, 0, .0975);
    height: 77px;
    &-nav {
    & > li {
        margin-left: 20px;
        &:first-child {
        margin-left: 0;
        }
        .coffee_black {
            color:#000000;	
        }
        .users_black {
            color:#000000;	
        }
    }
    }
}

/*要素を下にずらすために*/
body{ 
    padding-top: 70px; 
}
//ユーザーネームと画像
.current-user-img { 
    width: 80px;
    height: 40px;
    display:flex;/* flexbox */
  justify-content:center; /* 水平方向 */
  align-items: center; /* 垂直方向 */
}
//ユーザー画像
.navbar-icon {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
}