//ボックス
.post-item {
    margin-top: 60px;
    padding: 1em;
    width: 90%; /* ボックス幅 */
    background-color: #e6dcd8; /* ボックス背景色 */
    color: #666; /* 文章色 */
    box-shadow: 0 0 5px 1px #c0c0c0; /* 影 */
    border-radius: 10px; /* 角の丸み */
}
//ユーザーネーム
.post-show-name {
    font-size: 120%;
    display:flex;/* flexbox */
    justify-content:left; /* 水平方向 */
    align-items: center; /* 垂直方向 */
}
//タイトル
.post-show-title {
    margin-top: 30px;
    margin-bottom: 20px;
}
//画像
.post-show-img {
    margin-top: 50px;
}
//レビュー
.post-show-text {
    margin-top: 50px;
    word-wrap:break-word //折り返し
}
//住所
.post-show-address {
    margin-top: 50px;
}
//画像中央
.post-show-img{
    text-align: center;
}
//戻るボタン
.post-back {
    margin-top: 50px;
}
//マップ
#map {
    height: 400px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 100%;
}
//日付
.post-show-time {
    margin-top: 50px;
}


