//ボックス
.post-item {
margin: 2em auto; 
padding: 1em 3em;
width: 90%; /*幅の調節*/
color: #777777; /* 文字色 */
background-color: #FAEBD7; /* 背景色 */
border: 2px solid black; /*線の太さ・色*/
border-radius: 3em .8em 3em .7em/.9em 2em .8em 3em;

}

//ユーザーネーム
.post-show-name {
    font-size: 120%;
    display:flex;/* flexbox */
  justify-content:left; /* 水平方向 */
  align-items: center; /* 垂直方向 */
}

//タイトル
.post-show-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

//画像
.post-show-img {
    margin-top: 50px;
}

//レビュー
.post-show-text {
    margin-top: 50px;
    word-wrap:break-word //折り返し
}
//住所
.post-show-address {
    margin-top: 50px;
}






//画像中央
.post-show-img{
    text-align: center;
}

//戻るボタン
.post-back {
    margin-top: 50px;
}

//マップ
#map {
    height: 400px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 100%;
}

//日付
.post-show-time {
    margin-top: 50px;
}

