/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.


@import "bootstrap";

// ログイン画面
.container-login {
	@extend .container-fluid;
	max-width: 576px;
	padding: 2rem;
}
// アラートメッセージフラッシュ用スタイル
.alert-alert {
	@extend .alert-danger;
}
.alert-notice {
	@extend .alert-info;
}
/*背景色*/
body{
	background-color: #e9e1d1;
}
/*挿入されたクラスのスタイルを編集*/
.field_with_errors {
	display: contents;
	input {
	@extend .is-invalid;
	}
}
//ページネーション 
.pagination > li > a
{
    background-color: white;
    color: black;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #6e5e46 !Important;
    border: solid 1px black !Important;
}

.pagination > .active > a:hover
{
    background-color: #6e5e46 !Important;
    border: solid 1px black;
}






