//ボックス
.comment-item {
    margin-top: 60px;
    padding: 1em;
    width: 90%; /* ボックス幅 */
    background-color: #e6dcd8; /* ボックス背景色 */
    color: #666; /* 文章色 */
    box-shadow: 0 0 5px 1px #c0c0c0; /* 影 */
    border-radius: 10px; /* 角の丸み */
    }
//ユーザー画像
.comment-user-icon {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
    margin-bottom: 20px;
}
//ユーザーネーム
.comment-user-name {
    color: black;
}
//削除ボタン
.fa-trash-alt {
    color: black;
}
//コメント折り返し
.user-comment {
    word-wrap:break-word
}
//コメントない時
.comment-message {
    margin-top: 20px;
}
//コメントフォーム
.comment-form {
    text-align: center;
    margin-top: 20px;
}
//コメントテキストエリア
.form-content {
    margin-bottom: 20px;
}
//コメント件数
.comment-count {
    text-align: right;
}
