//検索フォーム
.map-search {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
//検索フォーム横並び
.search-form,.search-btn {
    display: inline-block;
}

.map-title {
    margin-top: 40px;
    margin-bottom: 40px;
}
