//ボックス
.user-show-item {
    margin-top: 60px;
    padding: 1em;
    width: 90%; /* ボックス幅 */
    background-color: #e6dcd8; /* ボックス背景色 */
    color: #666; /* 文章色 */
    box-shadow: 0 0 5px 1px #c0c0c0; /* 影 */
    border-radius: 10px; /* 角の丸み */
}
//ユーザーネーム
.user-show-name {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
//アカウント編集
.user-edit-btn {
    text-align: right;
}
//アイコン大きさ
.user-show-img {
    text-align: center;
    margin-top: 50px;
}
//アイコン大きさ＆円形
.profile-icon {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    object-fit: cover;
}
//ユーザー投稿のタイトル
.user-show-post {
    text-align: center;
    margin-top: 50px;
}
//編集、削除ボタン
.post-edit-btn {
    text-align: right;
}
//いいねした投稿タイトル
.user-favorite-post {
    margin-top: 50px;
}
//タブ
.nav-btn {
    margin-top: 50px;
}
//タブの位置
.nav-item-favorite {
    margin-left: 10px;
}