//ボックス
.user-index-item {
    margin-top: 60px;
    padding: 1em;
    width: 90%; /* ボックス幅 */
    background-color: #e6dcd8; /* ボックス背景色 */
    color: #666; /* 文章色 */
    box-shadow: 0 0 5px 1px #c0c0c0; /* 影 */
    border-radius: 10px; /* 角の丸み */
}
//タイトル
.user-index-title {
    margin-top: 40px;
}
//アイコン大きさ＆円形
.user-index-icon {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
}
//ユーザーネームと画像
.user-index-name {
    font-size: 30px;
    margin-bottom: 30px;
    display:flex;/* flexbox */
    justify-content:left; /* 水平方向 */
    align-items: center; /* 垂直方向 */
}
//横並び
.user-group {
    display: inline-flex;
    margin: 5px;
    padding: 10px;
}
